Tokens/artifacts/
Tokens/cache/
Tokens/node_modules/
Tokens/package-lock.json
Tokens/.env

Factory/artifacts/
Factory/cache/
Factory/node_modules/
Factory/package-lock.json
Factory/.env

Farm/artifacts/
Farm/cache/
Farm/node_modules/
Farm/package-lock.json
Farm/.env

Farm2/artifacts/
Farm2/cache/
Farm2/node_modules/
Farm2/package-lock.json
Farm2/.env

Staking/artifacts/
Staking/cache/
Staking/node_modules/
Staking/package-lock.json
Staking/.env

.env
