PRIVATE_KEY=
OWNER_ADDRESS=

ROUTER_ADDRESS=
FACTORY_ADDRESS=
MULTICALL_V2=

PROVIDER_NAME=moonbase-alpha
PROVIDER_RPC=https://rpc.api.moonbase.moonbeam.network/
CHAIN_ID=1287

USDC=
USDT=
WETH=
DAI=

FARM_REWARD_HOLDER=

TRUSTED_FORWARDER=

TOKEN_ADDRESS=

GEOS_DISTRIBUTOR_V2=

PAIRS_A=
PAIRS_B=
PAIRS_C=